
<p id="alert"><%= alert %></p>
<div class="row">
  <div class="col-md-8 col-xs-12">
    <p class="thumbnail">
      <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url") %>
    </p>
  </div><!--end col-->
  <div class="col-md-4 col-xs-12 product_wrap">
    <% cache @product do %>
      <p class="product_name">
        <%= @product.name %>
      </p>
    <div class="product_info">
      <p class="product_description">
        Description:
        <%= @product.description %>
      </p>

      <p class="product_description">
        Colour:
        <%= @product.colour %>
      </p>

      <p class="product_description">
        <strong>Price: $</strong>
        <%= number_with_precision(@product.price, precision: 2) %>
      </p>
    <% end %>

      <p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div></p>
      <p class="product_description product_rating">
        <span class="glyphicon glyphicon-thumbs-up"></span> Highest rating: <%= @product.highest_rating_comment %><br>
        <span class="glyphicon glyphicon-thumbs-down"></span> Lowest rating: <%= @product.lowest_rating_comment %>
      </p>

      <p class="product_description">
        <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <% end %>
      </p>

      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>

    </div><!--end product_info-->
    <%= render 'new_comment' %>
  </div><!--end col-->

  <div class="col-xs-12 col-md-12">
    <h2>Reviews</h2>
      <p class="product_views">You have viewed this product <%= @product.view_total %> times</p>
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <%= render 'comments' %>
  </div><!--end col-->
</div><!--end row-->
<%= will_paginate @comments %>
