<!DOCTYPE html>
<html>
  <head>
    <title>Firstapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Zeyada|Poiret+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", simple_pages_about_path %></li>
        <li><%= link_to "Contact", simple_pages_contact_path %></li>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "Featured Products", simple_pages_landing_page_path %></li>
      </ul>
      <ul class="nav pull-right">
        <li class="log">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>
        </li>
      </ul>
      <ul class="navbar-form navbar-right" role="search">
        <%= form_with(url: products_path, method: 'get', local: true, html: {class: "form-horizontal"}) do |form| %>
        <li><%= form.text_field :q, id: 'q', value: params[:q], type: "text", class: "navbar-text", size: "22", placeholder: "Search for products..." %></li>
        <li><%= form.submit 'Search', class: "btn btn-default navbar-btn" %></li>
        <% end %>
      </ul>
    </nav>
    <div class="page-wrap">
      <% if notice %>
        <p class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </p>
      <% end %>
      <% if alert %>
        <p class="alert alert-success alert-dismissible" role="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div><!--end page-wrap-->
    <footer class="site-footer">
      &copy; 2018 Salt of the Sea
    </footer>

  </body>
</html>
